<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Multiply</title>
    </head>
<body>
<form action="{% url 'launcher' %}" method="post">
{% csrf_token %}
    <input type="submit" id="btnLaunch" name="btnLaunch" value="Launch" style="height:100px;width:200px;font-size:50px">
    <input type="submit" id="btnReveal" name="btnReveal" value="Reveal" style="height:100px;width:200px;font-size:50px">
    <input type="submit" id="btnLock" name="btnLock" value="Lock"  style="height:100px;width:200px;font-size:50px">
</form>

</body>
</html>